<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/WEB-INF/templates/layout.xhtml">

    <ui:define name="styles">
        <link href="#{request.contextPath}/css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="titulo-form">FICHA DE INSCRIÇÃO</div>
            <h:panelGroup style="text-align: left; margin-bottom: 10px;" layout="block">
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="idioma" value="Idioma"/>
                    <h:selectOneMenu id="idioma" value="#{inscricaoBean.candidato.idioma.codigo}" style="width:12em">
                        <f:selectItems value="#{inscricaoBean.idiomas}" var="i" itemValue="#{i.codigo}" itemLabel="#{i.descricao}"/>
                    </h:selectOneMenu>
                </h:panelGroup>
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="cpf" value="CPF"/>
                    <h:inputText id="cpf" value="#{inscricaoBean.candidato.cpf}" label="CPF" size="15" maxlength="11" required="true"/>
                    <h:outputLabel for="rg" value="RG"/>
                    <h:inputText id="rg" value="#{inscricaoBean.candidato.rg}" size="25" label="RG" maxlength="20" required="true"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="nome" value="Nome"/>
                    <h:inputText id="nome" value="#{inscricaoBean.candidato.nome}" size="50"
                         label="Nome" maxlength="100" required="true"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="endereco" value="Endereço"/>
                    <h:inputText id="endereco" value="#{inscricaoBean.candidato.endereco}" size="50"
                          styleClass="ui-inputfield" label="Endereço" maxlength="80" required="true"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="cidade" value="Cidade"/>
                    <h:inputText id="cidade" value="#{inscricaoBean.candidato.cidade}" size="50"
                                 label="Cidade" maxlength="50" required="true"/>
                    <h:outputLabel for="estado" value="Estado"/>
                    <h:selectOneMenu id="estado" value="#{inscricaoBean.candidato.estado}" label="Estado" required="true">
                        <f:selectItem itemLabel="" itemValue="${null}" noSelectionOption="true"/>
                        <f:selectItem itemLabel="AC" itemValue="AC"/>
                        <f:selectItem itemLabel="AL" itemValue="AL"/>
                        <f:selectItem itemLabel="AM" itemValue="AM"/>
                        <f:selectItem itemLabel="AP" itemValue="AP"/>
                        <f:selectItem itemLabel="BA" itemValue="BA"/>
                        <f:selectItem itemLabel="CE" itemValue="CE"/>
                        <f:selectItem itemLabel="DF" itemValue="DF"/>
                        <f:selectItem itemLabel="ES" itemValue="ES"/>
                        <f:selectItem itemLabel="GO" itemValue="GO"/>
                        <f:selectItem itemLabel="MA" itemValue="MA"/>
                        <f:selectItem itemLabel="MG" itemValue="MG"/>
                        <f:selectItem itemLabel="MS" itemValue="MS"/>
                        <f:selectItem itemLabel="MT" itemValue="MT"/>
                        <f:selectItem itemLabel="PA" itemValue="PA"/>
                        <f:selectItem itemLabel="PB" itemValue="PB"/>
                        <f:selectItem itemLabel="PE" itemValue="PE"/>
                        <f:selectItem itemLabel="PI" itemValue="PI"/>
                        <f:selectItem itemLabel="PR" itemValue="PR"/>
                        <f:selectItem itemLabel="RJ" itemValue="RJ"/>
                        <f:selectItem itemLabel="RN" itemValue="RN"/>
                        <f:selectItem itemLabel="RO" itemValue="RO"/>
                        <f:selectItem itemLabel="RR" itemValue="RR"/>
                        <f:selectItem itemLabel="RS" itemValue="RS"/>
                        <f:selectItem itemLabel="SC" itemValue="SC"/>
                        <f:selectItem itemLabel="SE" itemValue="SE"/>
                        <f:selectItem itemLabel="SP" itemValue="SP"/>
                        <f:selectItem itemLabel="TO" itemValue="TO"/>
                    </h:selectOneMenu>
                </h:panelGroup>
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="cep" value="CEP"/>
                    <h:inputText id="cep" value="#{inscricaoBean.candidato.cep}" label="CEP" size="10" maxlength="8" required="true"/>
                    <h:outputLabel for="bairro" value="Bairro"/>
                    <h:inputText id="bairro" value="#{inscricaoBean.candidato.bairro}" size="30" label="Bairro" maxlength="50"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="fone" value="Fone"/>
                    <h:inputText id="fone" value="#{inscricaoBean.candidato.fone}" label="Fone" size="15"/>
                    <h:outputLabel for="celular" value="Celular"/>
                    <h:inputText id="celular" value="#{inscricaoBean.candidato.celular}" label="Celular" size="15"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="email" value="E-mail"/>
                    <h:inputText id="email" value="#{inscricaoBean.candidato.email}" size="80"
                          label="E-mail" maxlength="200" required="true"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="instituicao" value="Instituição"/>
                    <h:inputText id="instituicao" value="#{inscricaoBean.candidato.instituicao}" size="80"
                          label="Instituição" maxlength="100" required="true"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="programa" value="Programa"/>
                    <h:inputText id="programa" value="#{inscricaoBean.candidato.programa}" size="80"
                          label="Programa" maxlength="100" required="true"/>
                </h:panelGroup>
            </h:panelGroup>
            <div class="submit">
                <h:commandButton value="Confirmar Inscrição" action="#{inscricaoBean.confirmaAction}"/>
            </div>
            <h:messages/>
        </h:form>
    </ui:define>

</ui:composition>
